/**
* this is the common specific styles
*/

@import 'variables';
@import 'mixin';
// @import './fonts';



*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height:1.4;
    font-size: PX2REM(18);
    color: $color-1;
}


p {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 25px;
    color: $color-9;
}
a{
    text-decoration: none !important;
}

img{
    display: block;
    max-width: 100%;
    height: auto !important;
}


@each $heading,
$size,
$mob in "h1" PX2REM(48) PX2REM(36),
"h2" PX2REM(40) PX2REM(32),
"h3" PX2REM(28) PX2REM(24),
"h4" PX2REM(25) PX2REM(25),
"h5" PX2REM(20) PX2REM(20),
"h6" PX2REM(16) PX2REM(16) {
    .heading-#{$heading},
    #{$heading} {
        font-size: $size !important;
        color: $color-1;
        line-height: 1.2;
        font-weight: 700;
        @include mediaMax(767px) {
            font-size: $mob !important;
        }
    }
    // #{$heading} {
    //     font-weight: bold;
    // }
}

h1,h2{
    margin-bottom: 25px;
}
h2{
    text-align: center;
}
h3, h4, h5, h6{
    margin-bottom: 15px;
    font-weight: 500;
}
