// @import './variables';

@function PX2REM($font : 0) {
    @return #{(calc($font / 16))}rem;
}

//usage : for px to rem
	//@include fs(32); for 32px font size

@mixin fs($sizeValue) {
	// font-size: ($sizeValue) + px;
	font-size: calc($sizeValue/16) + rem;
}


@mixin mediaMax($width) {
	@media only screen and (max-width: $width) {
			@content;
	}
}
@mixin mediaMin($width) {
	@media only screen and (min-width: $width) {
			@content;
	}
}
@mixin mediaMinMax($width1, $width2) {
	@media only screen and (min-width: $width1) and (max-width: $width2) {
			@content;
	}
}


