

@import 'mixin';
@import 'variables';
//container

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.global-wrapper {
  padding-top: 0;
  overflow: hidden;
}
.webinar-spotlight{
  position: relative;
}
.spotlight__wrapper{
  background: url(/images/webinar-spotlight.jpg) no-repeat left top / cover;
}
.spotlight__content{
  max-width: 540px;
  padding: 115px 0 90px;
  position: relative;
  z-index: 99;
  @include mediaMax(767px){
    padding: 60px 0 40px;
  }
  .p-type1{
    color: $color-11;
    font-size: PX2REM(20);
    margin-bottom: 34px;
    @include mediaMax(767px){
      font-size: PX2REM(16);
    }
  }
  .heading-1{
    font-weight: 600;
    color: $color-4;
    font-size: PX2REM(50);
    line-height: 1.3;
    max-width: 448px;
    margin-bottom: 15px;
  }
}
.countdown{
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-2;
}
.countdown__item{
  display: flex;
  flex-direction: column;
  min-width: 88px;
  align-items: center;
  @include mediaMax(767px){
    min-width: 60px;
  }
}
.countdown__value{
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 4px solid $color-2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: PX2REM(26);
  color: $color-4;
  margin-bottom: 15px;
  @include mediaMax(767px){
    width: 60px;
    height: 60px;
    font-size: PX2REM(22);
  }
}
.countdown__label{
  text-align: center;
  font-size: PX2REM(18);
  color: $color-4;
  @include mediaMax(767px){
    font-size: PX2REM(16);
  }
}
.logo{
  margin-bottom: 25px;
  img{
    max-width: 176px;
  }
}
.date{
  padding-top: 30px;
}
.date__desc{
  display: flex;
  align-items: center;
  padding: 6px 0 6px 50px;
  background: url(/images/time-icon.svg) no-repeat left center;
  .edate{
    font-weight: 700;
    font-size: PX2REM(22);
    color: $color-4;
    margin-right: 10px;
    @include mediaMax(767px){
      font-size: PX2REM(18);
    }
  }
  .etime{
    font-weight: 400;
    font-size: PX2REM(18);
    color: $color-4;
    @include mediaMax(767px){
      font-size: PX2REM(16);
    }
    &::before{
      content: "";
      border-left: 1px solid $color-2;
      margin-right: 10px;
    }
  }
}
.hbform-block{
  @include mediaMax(991px){
    background-color: #063E68;
    padding: 30px 0 50px;
  }
}
.hbform-holder{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  top: 120px;
  @include mediaMax(991px) {
    position: static;
    transform: none;
  }
}
.hbform{
  width: 355px;
  // background-color: $color-6;
  // box-shadow: 4px 12px 25px rgba(144, 214, 164, 0.12);
  @include mediaMax(991px) {
    width: 100%;
  }
  >.btn-type1{
    max-width: 325px;
    margin: 0 auto 30px;
    @include mediaMax(991px){
      max-width: 260px;
      height: 46px;
      @include fs(16);
    }
  }
}
.hbform__wrapper--type2 {
  padding: 30px 30px 30px;
  background-color: $color-4;
  position: static;
  border-radius: 10px;
  width: 100%;
  @include mediaMax(991px) {
    padding: 30px 30px 30px;
  }
  @include mediaMax(767px) {
    position: static;
  }
  .form-header {
    font-size: PX2REM(20) !important;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: $color-3;
  }
  .hs-form-field {
    margin-bottom: 18px;
    position: relative;
  }
  input:not(input[type="submit"]) {
    width: 100%;
    height: 44px;
    background: $color-5;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    font-size: PX2REM(14);
    color: $color-6;
    &::placeholder {
      color: $color-6;
      opacity: 1;
    }
  }
  input[type="submit"] {
    cursor: pointer;
    background-color: $color-2;
    color: $color-4;
    height: 50px;
    width: 100%;
    border: none;
    font-size: PX2REM(20);
    font-weight: 700;
    border-radius: 5px;
  }
  .hs-submit{
    padding-top: 0;
  }
  .hs_error_rollup {
    font-size: PX2REM(12);
    color: #ff0000;
    margin-bottom: 8px;
  }
  .hs-error-msgs {
    margin: 0;
    list-style-type: none;
    li {
      line-height: 1;
    }
    .hs-error-msg {
      // position: absolute;
      color: #ff0000;
      font-size: PX2REM(12);
    }
  }
  .hs-main-font-element{
      color: #ff0000;
      font-size: PX2REM(12);
  }
}
.topics{
  padding: 88px 0 60px;
  background-color: $color-7;
  @include mediaMax(767px){
    padding: 50px 0 50px;
  }
}
.topics__wrapper{
  padding-top: 60px;
  @include mediaMax(767px){
    padding-top: 25px;
  }
}
.topics__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  &:nth-child(even){
    @include mediaMin(768px){
      flex-direction: row-reverse;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
  @include mediaMax(767px){
    flex-direction: column;
  }
  
}
.topics__image{
  flex: 0 0 auto;
  width: 40%;
  @include mediaMax(767px){
    width: 100%;
  }
}
.topics__desc{
  flex: 0 0 auto;
  width: 50%;
  @include mediaMax(767px){
    width: 100%;
  }
  .heading-3{
    margin-bottom: 30px;
  }
  .topics__list{
    margin: 0;
    list-style-type: none;
    .topic{
      position: relative;
      font-size: PX2REM(18);
      margin-bottom: 20px;
      line-height: 1.4;
      padding-left: 30px;
      
      @include mediaMax(767px){
        margin-bottom: 15px;
        font-size: PX2REM(16);
      }
      &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 18px;
        height: 18px;
        background: url(/images/tick-icon-green.svg) no-repeat center center;
      }
    }
  }
}
.link-button{
  display: inline-flex;
  min-width: 203px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-2;
  color: $color-4;
  font-size: PX2REM(16);
  font-weight: 700;
  border-radius: 5px;
  line-height: 1;
  margin-top: 25px;
}

.speakers{
  padding: 54px 0 68px;
}
.speakers__wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  flex-wrap: wrap;
}
.speaker{
  flex: 0 0 auto;
  width: 28.5%;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
  @include mediaMax(767px){
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.speaker__desc{
  padding-top: 20px;
  @include mediaMax(767px){
    padding-top: 10px;
  }
}
.speaker__name{
  color: $color-1;
  font-size: PX2REM(22);
  font-weight: 700;
  margin-bottom: 4px;
  display: block;
}
.speaker__designation{
  color: $color-8;
  font-size: PX2REM(18);
  font-weight: 500;
  display: block;
}
.global-footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: $color-10;
  span{
    color: $color-9;
    display: block;
    text-align: center;
    font-size: PX2REM(14);
    @include mediaMax(767px){
      font-size: PX2REM(12);
    }
  }
}
.submitted-message p{
  color: #ffffff;
  text-align: center;
  font-size: PX2REM(18);
  margin-bottom: 0;
  
}
.form-submitted h3{
  display: none;
}
.event-started-message {
  display: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
}
